.remaining-time
  background-color $gray
  padding 15px 15px 4px
  border-radius 4px
  text-align center

  .title
    color $text-color
    font-size 14px

  .time
    color $text-color
    font-size 36px
