@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Medium.eot');
	src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
		url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
