@import 'variables'

.u-ieMinHeightBugFix
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-box-orient vertical
    -webkit-box-direction normal
    -webkit-flex-direction column
    -ms-flex-direction column
    flex-direction column
    
.only-flex
    display flex
    flex-flow row wrap
    
    &--column
        flex-flow column wrap
    
.only-flex-nowrap
    display flex
    flex-flow row nowrap
    
    &--mobile-wrap
        +below('sm')
            flex-flow row wrap
    
.flex
    display flex
    flex-flow row wrap
    align-items center
    justify-content space-between

    &--vertical_end 
        align-items flex-end !important
        
    &--no-space-between
        justify-content initial
        
    &--nowrap
        flex-flow row nowrap
        
    &--align-start
        justify-content flex-start

    &--justify-center
        justify-content center
 
.column-half
    lost-column 6/12 0 64px flex

.column-quarter
    lost-column 3/12 0 64px flex
    
.column-five
    lost-column 2.4/12 0 30px flex
 
.hidden-mobile
    
    +below('sm')
        display none !important
    
.text--center
    text-align center !important
    
.text--right
    text-align right !important
    
.text--uppercase
    text-transform uppercase
    
.text--white
    color #fff !important 

.no-border-top
    border-top 0 !important
    
.break-mobile
	
	+below(768px)
		display block

.clearfix
    *zoom 1

    &:before, &:after
        display table
        line-height 0
        content ""
        display block
        height 0

    &:after
        clear both
