@import 'fonts'

*
	margin 0
	padding 0
	box-sizing border-box

html, body
	font-family 'Avenir', Helvetica, Arial
	font-size 14px
	font-weight normal

h1, h2, h3, h4, h5, h6
	font-size inherit
	color inherit
	margin 0
	font-family inherit
	font-weight inherit
	line-height inherit

h1
	font-family 'Avenir', Helvetica, Arial
	font-weight 700

h2
	font-family 'Avenir', Helvetica, Arial
	font-weight 700

h3
	font-family 'Avenir', Helvetica, Arial
	font-weight 500

h4
	font-family 'Avenir', Helvetica, Arial
	font-weight 500

h5
	font-family 'Avenir', Helvetica, Arial
	font-weight 400

h6
	font-family 'Avenir', Helvetica, Arial
	font-weight 400



.container
	width 100% !important

.text
	color inherit
