// Colors
$primary = #423799
$danger = #d93535
$gray = #e8e8e8
$text-color = #626262
$online = #a0d935
$warning = #ffa127

$screen-xs   = 520px
$screen-sm   = 768px
$screen-md   = 992px
$screen-lg   = 1200px

rupture.scale          = 0 $screen-xs $screen-sm $screen-md $screen-lg
rupture.scale-names    = '0' 'xs' 'sm' 'md' 'lg'
rupture.anti-overlap   = -1px
