@import '../base/variables'

.login
  min-height 100vh
  background-color $primary

  &__content
    flex 1 0 auto
    max-width 350px

    .logo

      img
        max-width 90px
        width 100%
        margin 0 auto
        display block

  &__form
    padding 15px
    margin 15px 0 0
    background-color #fff
    border-radius 4px
    box-shadow 4px 2px 6px 0 rgba(0, 0, 0, 0.1)

    button
      margin 15px 0 0
